{% block head %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} Authentification {% endblock %}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/iptables/css/common.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Authentification</h1>
    </header>
{% endblock %}

{% block form %}
    <form action="/log" method="post">
        <input type=""text" name="login">
        <input type="password" name="pwd">
        <input type="button" value="submit"></input:button>
    </form>
{% endblock %}

{% block footer %}
<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      Copyright Univ-Savoie
    </div>
  </nav>
</footer>

<script src="static/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
{% endblock %}
